@charset "UTF-8";
*{
 	font-family: 'Gamja Flower', cursive;
 	font-size: 25px;
}

.recMenuContainer{
	width: 100%;
	height: 200px;
	overflow-x: scroll;
	padding: 5px;
	display: flex;
}

.recMenuContainer > .recMenuItem {
	width: 150px;
	height: 90px;
	position: relative;
}

.recMenuContainer > .recMenuItem > .pic {
	width: 100%;
	height: 130px;
}

.recMenuContainer > .recMenuItem > .pic > img {
	width: 100%;
}

.recMenuContainer > .recMenuItem > .info {
	width: 100%;
	height: 30px;
}

.recMenuContainer > .recMenuItem > .delIconContainer > .material-icons {
	cursor : pointer;
	position: absolute;
	top : 10px;
	right : 20px;
}
